# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df =  pd.read_csv(file_path)

new_column_order = ["City", "Country", "Lat", "Lng", "Max Temp", "Humidity",  "Cloudiness", "Wind Speed",  "Current Description"]

# Recreate the DataFrame by using the new column order
city_data_df = city_data_df[new_column_order]


# Display sample data
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Ostrovnoy,RU,68.0531,39.5131,36.41,97,100,27.25,moderate rain
1,Ilorin,NG,8.5000,4.5500,91.76,52,20,3.44,thunderstorm
2,Bud,US,39.4470,-86.1758,48.06,54,7,13.78,clear sky
3,Kilrush,IE,52.6397,-9.4833,58.75,92,100,23.11,overcast clouds
4,Thompson,CA,55.7435,-97.8558,39.36,70,75,10.36,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you are looking for your trip? "))
# I entered 70

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you are looking for your trip? "))
# I entered 90

What is the minimum temperature you are looking for your trip? 70
What is the maximum temperature you are looking for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"]<= max_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,Palafrugell,ES,41.9174,3.1631,74.16,55,63,7.63,broken clouds
12,Sompeta,IN,18.9333,84.6000,77.90,84,18,4.03,few clouds
14,San Quintin,MX,30.4833,-115.9500,77.74,49,5,1.81,clear sky
21,Hithadhoo,MV,-0.6000,73.0833,80.10,78,100,7.49,overcast clouds
24,Limon,CR,10.0000,-83.0333,85.89,66,40,10.36,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,Palafrugell,ES,41.9174,3.1631,74.16,55,63,7.63,broken clouds
12,Sompeta,IN,18.9333,84.6000,77.90,84,18,4.03,few clouds
14,San Quintin,MX,30.4833,-115.9500,77.74,49,5,1.81,clear sky
21,Hithadhoo,MV,-0.6000,73.0833,80.10,78,100,7.49,overcast clouds
24,Limon,CR,10.0000,-83.0333,85.89,66,40,10.36,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

           City Country  Max Temp Current Description      Lat       Lng
6   Palafrugell      ES     74.16       broken clouds  41.9174    3.1631
12      Sompeta      IN     77.90          few clouds  18.9333   84.6000
14  San Quintin      MX     77.74           clear sky  30.4833 -115.9500
21    Hithadhoo      MV     80.10     overcast clouds  -0.6000   73.0833
24        Limon      CR     85.89    scattered clouds  10.0000  -83.0333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Palafrugell,ES,74.16,broken clouds,41.9174,3.1631,
12,Sompeta,IN,77.90,few clouds,18.9333,84.6000,
14,San Quintin,MX,77.74,clear sky,30.4833,-115.9500,
21,Hithadhoo,MV,80.10,overcast clouds,-0.6000,73.0833,
24,Limon,CR,85.89,scattered clouds,10.0000,-83.0333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Palafrugell,ES,74.16,broken clouds,41.9174,3.1631,Hotel La Torre
12,Sompeta,IN,77.90,few clouds,18.9333,84.6000,బెంకిలి భైరొడమ్మ క్రికెట్ గ్రౌండ్
14,San Quintin,MX,77.74,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center
21,Hithadhoo,MV,80.10,overcast clouds,-0.6000,73.0833,Scoop Guest House
24,Limon,CR,85.89,scattered clouds,10.0000,-83.0333,Hotel Playa Bonita
26,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Kavaratti,IN,81.30,overcast clouds,10.5669,72.6420,Green leaf
28,Laguna,US,80.08,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
29,Rikitea,PF,70.12,scattered clouds,-23.1203,-134.9692,People ThankYou
30,Port Elizabeth,ZA,72.32,few clouds,-33.9180,25.5701,39 On Nile Guest House

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [17]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Palafrugell,ES,74.16,broken clouds,41.9174,3.1631,Hotel La Torre
12,Sompeta,IN,77.90,few clouds,18.9333,84.6000,బెంకిలి భైరొడమ్మ క్రికెట్ గ్రౌండ్
14,San Quintin,MX,77.74,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center
21,Hithadhoo,MV,80.10,overcast clouds,-0.6000,73.0833,Scoop Guest House
24,Limon,CR,85.89,scattered clouds,10.0000,-83.0333,Hotel Playa Bonita
26,Puerto Ayora,EC,75.16,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Kavaratti,IN,81.30,overcast clouds,10.5669,72.6420,Green leaf
28,Laguna,US,80.08,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
29,Rikitea,PF,70.12,scattered clouds,-23.1203,-134.9692,People ThankYou
30,Port Elizabeth,ZA,72.32,few clouds,-33.9180,25.5701,39 On Nile Guest House

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

# My data frame is not empty :)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [19]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [20]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [21]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel La Torre</dd>\n<dt>City</dt><dd>Palafrugell</dd>\n<dt>Country</dt><dd>ES</dd>\n<dt>Current Weather</dt><dd>broken clouds and 74.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>బెంకిలి భైరొడమ్మ క్రికెట్ గ్రౌండ్</dd>\n<dt>City</dt><dd>Sompeta</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.9 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Don Eddie's Sport Fishing Center</dd>\n<dt>City</dt><dd>San Quintin</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.74 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Playa Bonita</dd>\n<dt>City</dt><dd>Limon</dd>\n<dt>Country</dt><dd>CR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 85.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Green leaf</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel</dd>\n<dt>City</dt><dd>Laguna</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 70.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>few clouds and 72.32 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [23]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
6   41.9174    3.1631
12  18.9333   84.6000
14  30.4833 -115.9500
21  -0.6000   73.0833
24  10.0000  -83.0333
26  -0.7393  -90.3518
27  10.5669   72.6420
28  38.4210 -121.4238
29 -23.1203 -134.9692
30 -33.9180   25.5701

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [25]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))